<div class="jumbotron d-flex align-items-center min-vh-100">
<div class="container">
  <div class="row d-flex justify-content-center ">
    <div class="col-md-6">
      <div class="card">
        <div class="d-flex justify-content-center mt-2">
          <img class="w-25 h-25" src="../../assets/image/Logo.png" alt="Logo">
        </div>
        <h4 class="card-header">Login</h4>
        <div class="card-body">
          <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <div class="input-group">
                <input type="password" #passwordfield formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div class="input-group-append">
                  <span (click)="passwordfield.type=passwordfield.type=='password'?'text':'password'"
                  class="fa fa-fw field-icon toggle-password" class="input-group-text">&nbsp;&nbsp;
                    <i [ngClass]="(passwordfield.type=='password')?'fa fa-eye':'fa fa-eye-slash'"></i>
                  </span>
                </div>
              </div>


              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
            </div>
            <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Login
              </button>
              <a routerLink="../register" class="btn btn-link">Register</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
