<div class="container db-social">
  <div class="jumbotron jumbotron-fluid"></div>
  <div class="container-fluid">
      <div class="row justify-content-center">
          <div class="col-xl-11">
              <div class="widget head-profile has-shadow">
                  <div class="widget-body pb-0">
                      <div class="row d-flex align-items-center">
                          <div class="col-xl-4 col-md-4 d-flex justify-content-lg-start justify-content-md-start justify-content-center">
                            <div class="row">
                              <ul>
                                <li>
                                    <div class="counter">{{30 | shortNumber}}</div>
                                    <div class="heading">Posts</div>
                                </li>
                                <li>
                                    <div class="counter">{{34000| shortNumber}}</div>
                                    <div class="heading">Followers</div>
                                </li>
                                <li>
                                    <div class="counter">{{1 | shortNumber}}</div>
                                    <div class="heading">Followed</div>
                                </li>
                            </ul>
                            </div>

                          </div>
                          <div class="col-xl-4 col-md-4 d-flex justify-content-center">
                            <div class="row">
                              <div class="image-default" style="text-align: center;">
                                <img class="rounded-circle" src="data:image/png;base64,{{ userPhoto }}" alt="...">
                            </div>
                            <div class="infos">
                                <h2>{{firstname}}&nbsp;{{lastname}}</h2>
                                <div class="location">@{{username}}</div>
                                <div class="location">{{description}}</div>
                            </div>
                            </div>

                          </div>
                          <div class="col-xl-4 col-md-4 d-flex justify-content-lg-end justify-content-md-end justify-content-center">
                              <div class="follow">
                                <a class="btn btn-shadow" ><i class="la la-user-plus"></i>Edit</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
<!-- </div> -->
<!-- <div class="container card">
    <div class="row "  >
        <div class="col-auto" style="padding: 20px;"><img
            class="rounded img-fluid"
            src="data:image/png;base64,{{ userPhoto }}"
            width="350px"
            height="350px"
          /></div>
        <div class="col" style="padding-right:20px;">
            <div class="row">
                <div class="col"><h4>{{firstname}}&nbsp;{{lastname}}</h4></div>
            </div>
            <div class="row">
                <div class="col"><h6>{{username}}</h6></div>
            </div>
            <div class="row">
                <div class="col " ><p class="rounded d-inline-flex p-2 text-white stats">Description: <br> {{description}}</p></div>
            </div>
            <div class="row row-cols-3 rounded text-center justify-content-center p-1" style="background-color: #f06c3a;">
                <div class="col justify-content-center" ><p>Followers <br>
                1K</p></div>
                <div class="col text-center"><p>Followers <br>
                    1K</p></div>
                    <div class="col text-center"><p>Followers <br>
                        1K</p></div>
            </div>
        </div>

    </div> -->

    <!-- test 2 -->
    <!-- <div class="row rounded" style="background: linear-gradient(0deg, rgba(255, 255, 255, 0) 23%, #EF8157 20%);">
        <div class="col ">
            <div class="row row-cols-1 text-center justify-content-sm-center align-items-sm-center">
                <div class="col" style="margin:10px 10px;"><p class="text-center">{{firstname}}&nbsp;{{lastname}}</p></div>
                <div class="col "><img
                    class="rounded-circle img-fluid"
                    src="data:image/png;base64,{{ userPhoto }}"
                    width="350px"
                    height="350px"
                  /></div>
              </div>

        </div>
        <div class="col">
            <div class="row row-cols-1  justify-content-sm-center align-items-sm-center">
            <div class="col text-center" style="margin:10px 10px;"><p class="text-center">{{username}}</p></div>
            <div class="col ">
                <p class="" style="font-size: medium; padding-top: 15%;">{{description}}</p></div>
          </div></div>
        <div class="col"></div>
        <div class="col"></div>

    </div> -->
    <!-- test 2 end -->
    <!-- test end -->
  <!-- <div class="row" style="border-bottom-width: 0px;">
      <div class="col-md-4 col-lg-3" style="text-align: center;">
        <img style="background: url(&quot;assets/img/80751810_1274227449631671_497182111355109376_n.jpg&quot;);width: 200;height: 200;border-radius: 50%;"class="profileimage" src="data:image/png;base64,{{userPhoto}}">
          <h4><br><br><strong>{{firstname}}&nbsp;{{lastname}}</strong><br><br><br></h4>
      </div>
      <div class="col-md-4 col-lg-5" style="text-align: center;padding-top: 5%;">
          <h1>{{username}}<br></h1>
          <div class="card">
              <div class="card-header">
                  <h5 class="mb-0" style="text-align: left;">Description</h5>
              </div>
              <div class="card-body">
                  <p class="card-text">{{description}}<br></p>
              </div>
          </div>
      </div>
      <div class="col-md-4"></div>
  </div> -->
</div>
<!-- <hr style="height: 5;color: var(--bs-blue);border-bottom-color: var(--bs-blue);background: var(--bs-blue);">
<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-3">
        <div class="d-flex align-items-center">
            <div class="image"> <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" class="rounded" width="155"> </div>
            <div class="ml-3 w-100">
                <h6 class="mb-0 mt-0">Alex Morrision</h6> <span>Senior Journalist</span>
                <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column"> <span class="articles">Articles</span> <span class="number1">38</span> </div>
                    <div class="d-flex flex-column"> <span class="followers">Followers</span> <span class="number2">980</span> </div>
                    <div class="d-flex flex-column"> <span class="rating">Rating</span> <span class="number3">8.9</span> </div>
                </div>
                <div class="button mt-2 d-flex flex-row align-items-center"> <button class="btn btn-sm btn-outline-primary w-100">Chat</button> <button class="btn btn-sm btn-primary w-100 ml-2">Follow</button> </div>
            </div>
        </div>
    </div>
</div> -->
