<div class="container">
  <div class="row" style="border-bottom-width: 0px;">
      <div class="col-md-4 col-lg-3" style="text-align: center;">
        <img style="background: url(&quot;assets/img/80751810_1274227449631671_497182111355109376_n.jpg&quot;);width: 200;height: 200;border-radius: 50%;"class="profileimage" src="data:image/png;base64,{{userPhoto}}">
          <h4><br><br><strong>{{firstname}}&nbsp;{{lastname}}</strong><br><br><br></h4>
      </div>
      <div class="col-md-4 col-lg-5" style="text-align: center;padding-top: 5%;">
          <h1>{{username}}<br></h1>
          <div class="card">
              <div class="card-header">
                  <h5 class="mb-0" style="text-align: left;">Description</h5>
              </div>
              <div class="card-body">
                  <p class="card-text">{{description}}<br></p>
              </div>
          </div>
      </div>
      <div class="col-md-4"></div>
  </div>
</div>
<hr style="height: 5;color: var(--bs-blue);border-bottom-color: var(--bs-blue);background: var(--bs-blue);">
