<div *ngIf="userProfile.username!=myUser.username" class="container db-social">
  <div class="jumbotron jumbotron-fluid"></div>
  <div class="container-fluid">
      <div class="row justify-content-center">
          <div class="col-xl-11">
              <div class="widget head-profile has-shadow">
                  <div class="widget-body pb-0">
                      <div class="row d-flex align-items-center">
                          <div class="col-xl-4 col-md-4 d-flex justify-content-lg-start justify-content-md-start justify-content-center">
                            <div class="row">
                              <ul>
                                <li>
                                    <div class="counter">{{userProfile.postCount | shortNumber}}</div>
                                    <div class="heading">Posts</div>
                                </li>
                                <li>
                                    <div class="counter">{{userProfile.follower | shortNumber}}</div>
                                    <div class="heading">Followers</div>
                                </li>
                                <li>
                                    <div class="counter">{{userProfile.followed | shortNumber}}</div>
                                    <div class="heading">Followed</div>
                                </li>
                            </ul>
                            </div>

                          </div>
                          <div class="col-xl-4 col-md-4 d-flex justify-content-center">
                            <div class="row">
                              <div class="image-default" style="text-align: center;">
                                <img class="rounded-circle" src="data:image/png;base64,{{ userProfile.photo }}" alt="...">
                            </div>
                            <div class="infos">
                                <h2>{{userProfile.firstName}}&nbsp;{{userProfile.lastName}}</h2>
                                <div class="location">@{{userProfile.username}}</div>
                                <div class="location">{{userProfile.description}}</div>
                            </div>
                            </div>

                          </div>
                          <div class="col-xl-4 col-md-4 d-flex justify-content-lg-end justify-content-md-end justify-content-center">
                              <div class="follow">
                                <ng-container *ngIf="userProfile.isFollow; then follow; else unfollow"></ng-container>
                                <ng-template #follow><a class="btn btn-shadow" (click)="followUser()"><i class="la la-user-plus"></i>Unfollow</a></ng-template>
                                <ng-template #unfollow><a class="btn btn-shadow" (click)="followUser()"><i class="la la-user-plus"></i>Follow</a></ng-template>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div *ngIf="userProfile.username==myUser.username" class="container db-social" >
  <div class="jumbotron jumbotron-fluid"></div>
  <div class="container-fluid "*ngIf="isEditProfile === false">
      <div class="row justify-content-center">
          <div class="col-xl-11">
              <div class="widget head-profile has-shadow">
                  <div class="widget-body pb-0">
                      <div class="row d-flex align-items-center">
                          <div class="col-xl-4 col-md-4 d-flex justify-content-lg-start justify-content-md-start justify-content-center">
                            <div class="row">
                              <ul>
                                <li>
                                    <div class="counter">{{30 | shortNumber}}</div>
                                    <div class="heading">Posts</div>
                                </li>
                                <li>
                                    <div class="counter">{{34000| shortNumber}}</div>
                                    <div class="heading">Followers</div>
                                </li>
                                <li>
                                    <div class="counter">{{1 | shortNumber}}</div>
                                    <div class="heading">Followed</div>
                                </li>
                            </ul>
                            </div>

                          </div>
                          <div class="col-xl-4 col-md-4 d-flex justify-content-center">
                            <div class="row">
                              <div class="image-default" style="text-align: center;">
                                <img class="rounded-circle" src="data:image/png;base64,{{ myUser.photo }}" alt="...">
                            </div>
                            <div class="infos">
                                <h2>{{myUser.firstName}}&nbsp;{{myUser.lastName}}</h2>
                                <div class="location">@{{myUser.username}}</div>
                                <div class="location">{{myUser.description}}</div>
                            </div>
                            </div>

                          </div>
                          <div class="col-xl-4 col-md-4 d-flex justify-content-lg-end justify-content-md-end justify-content-center">
                              <div class="follow">
                                <a class="btn btn-shadow" (click)="editProfile()"><i class="la la-user-plus"></i>Edit</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container-fluid "*ngIf="isEditProfile === true">
    <div class="row justify-content-center">
        <div class="col-xl-11">
            <div class="widget head-profile has-shadow">
                <div class="widget-body pb-0">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-4 col-md-4 d-flex justify-content-lg-start justify-content-md-start justify-content-center">
                          <div class="row">
                            <ul>
                              <li>
                                  <div class="counter">{{30 | shortNumber}}</div>
                                  <div class="heading">Posts</div>
                              </li>
                              <li>
                                  <div class="counter">{{34000| shortNumber}}</div>
                                  <div class="heading">Followers</div>
                              </li>
                              <li>
                                  <div class="counter">{{1 | shortNumber}}</div>
                                  <div class="heading">Followed</div>
                              </li>
                          </ul>
                          </div>

                        </div>
                        <div class="col-xl-4 col-md-4 d-flex justify-content-center">
                          <div class="row">
                            <div class="image-default" style="text-align: center;position: relative;">

                              <img class="rounded-circle" *ngIf="imageSrc" [src]="imageSrc" alt="...">
                              <img class="rounded-circle" *ngIf="!imageSrc" src="data:image/png;base64,{{ myUser.photo }}" alt="...">
                              <div class="fa fa-upload iconPhotos" onclick="document.getElementById('selectedFile').click();" >
                                <input class="form-control" id="selectedFile" type="file" accept="image/*" style="margin-top: 10px;margin-bottom: 10px; display: none;"  (change)="onFileChange($event)">
                                        <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                                            <div *ngIf="f.file.errors && f.file.errors.required">File is required.</div>
                                        </div>
                              </div>

                          </div>

                          <div class="infos">
                            <textarea [(ngModel)]="myUser.firstName"></textarea>&nbsp;<textarea [(ngModel)]="myUser.lastName"></textarea>
                            <div class="location">@{{myUser.username}}</div>
                            <div class="location"><textarea [(ngModel)]="myUser.description"></textarea></div>
                          </div>
                          </div>

                        </div>
                        <div class="col-xl-4 col-md-4 d-flex justify-content-lg-end justify-content-md-end justify-content-center">
                            <div class="follow">
                              <a class="btn btn-shadow" (click)="editProfilPut()"><i class="la la-user-plus"></i>Accept</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container card">
    <div class="row "  >
        <div class="col-auto" style="padding: 20px;"><img
            class="rounded img-fluid"
            src="data:image/png;base64,{{ userProfile.photo }}"
            width="350px"
            height="350px"
          /></div>
        <div class="col" style="padding-right:20px;">
            <div class="row">
                <div class="col"><h4>{{userProfile.firstName}}&nbsp;{{userProfile.lastName}}</h4></div>
                <div class="col"><h6>Follow</h6></div>
            </div>
            <div class="row">
                <div class="col"><h6>{{userProfile.username}}</h6></div>
            </div>
            <div class="row">
                <div class="col " ><p class="rounded d-inline-flex p-2  stats">Description: <br> {{userProfile.description}}</p></div>
            </div>
            <div class="row row-cols-3 rounded text-center justify-content-center p-1" style="background-color: #f06c3a;">
                <div class="col justify-content-center" ><p>Followers <br>
                {{userProfile.follower | shortNumber}}</p></div>
                <div class="col text-center"><p>Followed <br>
                    {{userProfile.followed | shortNumber}}</p></div>
                    <div class="col text-center"><p>Posts <br>
                        {{userProfile.postCount | shortNumber}}</p></div>
            </div>
        </div>
    </div>
</div> -->
<!-- posts -->
<app-home-feed [stateFeed]="true" [userIdProfile]="UserId"></app-home-feed>
