<!-- <div class="row d-flex justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <h4 class="card-header">Confirm Email</h4>
      <div class="card-body">
        <form [formGroup]="formLogin">
          <div class="form-group">
            <label for="code">Code</label>
            <input type="text" formControlName="code" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.code.errors }" />
            <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
              <div *ngIf="f.code.errors.required">Code is required</div>
            </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1" (click)="confirmCode()"></span>
              Confirm
            </button>
            <a routerLink="../register" class="btn btn-link">Resend</a>
          </div>

      </div>
    </form>
    </div>
  </div>
</div> -->
<H1>Hi</H1>
