p {
  font-size: medium;
}

.row {
  --bs-gutter-x: 0rem !important;
}
.scrollme {
  overflow-x: auto;
}
/* Scroll 1 */
.scrollme::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scrollme::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
.scrollme::-webkit-scrollbar-thumb {
  background-color: #51cbce;
  border-radius: 10px;
}
.dropdown-toggle::after {
  display: none;
}

/* tag dropdown */
/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: #ef8157;
  font-size: 16px;
  border: none;
  padding: 16px 0px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 4;

}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

a.disabled {
  pointer-events: none;
  cursor: default;
}
